<div class="quizz_container">
    <div class="quizz_logo">
        <img src="assets/imgs/logo.png" alt="">
        <h3>{{ title }}</h3>
    </div>
    <div *ngIf=!finished class="quizz_container-body">
        <div class="quizz_img">
            <img class="hp-house" src="https://www.wizardingworld.com/assets/_next/static/images/sorting-hat-9ab39acf2bd8e6a6ede41263dc84236d.png.webp" alt="">
        </div>
        <div class="quizz_question">
            <div class="quizz_questions">
                <h3>{{ questionSelected.question }}</h3>
            </div>
            <div class="quizz_options">
                <button *ngFor="let option of questionSelected.options" (click)="playerChoose(option.alias)" class="btn-option">{{ option.name }}</button>
            </div>
        </div>
    </div>
    
    <div *ngIf=finished class="quizz_results">
        <h1>Parabéns, você é da {{ answerSelected.name }}</h1>
        <div class="quizz_results_content">
            <div class="quizz_results_content-paragraphs">
                <p *ngFor="let paragraph of answerSelected.description">{{ paragraph }}</p>
            </div>
            <img src="{{answerSelected.img}}" alt="">
        </div>
    </div>
</div>